{% set poem_show = path('poem_show', { 'slug': poem.slug }) %}

<article class="mb-5 bg-white">
    <div class="row">


        <div class="col-md-{{ rightCol ?? 7 }}">
            <h2>
                <a class="text-decoration-none" href="{{ poem_show }}"> {{ poem.title }}</a>
            </h2>
            <p>
                {{ poem.createdAt|date('d M Y') }}
            </p>
            {{ poem.featuredText ?: poem.content|striptags|slice(0, 130) ~ '...' }}
        </div>

    </div>
</article>